{% extends "app.twig" %}

{% block css %}


    <link href="/public/admin/css/jquery.orgchart.css" rel="stylesheet">
    <style>
    </style>

{% endblock %}

{% block content %}

	<div class="row">

		<div class="col-md-12">

			<div class="card">

				<div class="content">

					<div class="card-header m-2"><h5>My Investment Structure</h5></div>

					<div class="card-body">

                        <div id="main"></div>

						<div class="row">

							<div class="col-sm-12">

                                <ul id="organisation">

                                    <li>{{ auth.user.name }} {{ auth.user.surname }}<br/><span class='title'>HEAD</span>
     
                                        <ul>

                                            {% if ( Downliner.whereUserId( auth.user.id ).count() |length > 0 ) %}

                                                {% set downliners = Downliner.whereUserId( auth.user.id ).get() %}

                                                {% for first in downliners %}

                                                    {% set user = User.find( first.downliner_id ) %}

                                                    <li>{{ user.name }} {{ user.surname }}<br/><span class='title'>R 200</span>

                                                        <!-- second level -->

                                                        {% if ( Downliner.whereUserId( first.downliner_id ).count() |length > 0 ) %}
                                                            <ul>

                                                            {% set downliners = Downliner.whereUserId( first.downliner_id ).get() %}

                                                            {% for second in downliners %}

                                                                {% set user = User.find( second.downliner_id ) %}

                                                                <li>{{ user.name }} {{ user.surname }}<br/><span class='title'>R 400</span>

                                                                    <!-- Third Level -->

                                                                    {% if ( Downliner.whereUserId( second.downliner_id ).count() |length > 0 ) %}
                                                                        <ul>

                                                                        {% set downliners = Downliner.whereUserId( second.downliner_id ).get() %}

                                                                        {% for third in downliners %}

                                                                            {% set user = User.find( third.downliner_id ) %}

                                                                            <li>{{ user.name }} {{ user.surname }}<br/><span class='title'>R 800</span></li>

                                                                        {% endfor %}
                                                                        </ul>

                                                                    {% endif %} 

                                                                </li>

                                                            {% endfor %}
                                                            </ul>

                                                        {% endif %}                                                        

                                                    </li>

                                                {% endfor %}

                                            {% endif %}

                                        </ul>

                                    </li>
                                        
                                </ul>

                            </div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}


{% block js %}

    <script src="/public/admin/js/jquery.orgchart.min.js"></script>

    <script>
        
        $( function() {

          $("#organisation").orgChart({container: $("#main")});
/*            $.getJSON('/member/structure', function(data) {
                console.log(data) ;

                var oc = $('#chart-container').orgchart({
                  'data' : data,
                  'nodeContent': 'phone'
                });

            }) ;*/
        }) ;

    </script>

{% endblock %}